@model IEnumerable<TitanInformationSolutions.Models.Posts>
@{
    ViewData["Title"] = "Index";
}
<h2>Newsfeed</h2>
<p>
    <a asp-action="Create">Create New Post</a>
</p>
<h2>
    @Html.DisplayNameFor(model => model.FullName)
</h2>

<div class="row">
    <div class="col-md-4">
        <ul>
            @foreach (var item in Model)
            {
            <li>
                <h4>@Html.DisplayFor(modelItem => item.FullName)</h4>
                <p>@Html.DisplayFor(modelItem => item.Post)</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Options
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tbody>
                </table>
            </li>
            }          
        </ul>

    </div>
</div>


@*<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
